#printableArea{
    margin: 1px;
    background: white;
    clear: both;
    text-align: left;
}
table{
    padding: 65px;
    display:inline-block;
    border:none;
}
td,th{
    padding: 5px;
    font-size: 10px;
}
input{
    border:none;
    font-size: 10px;
}
textarea{
    border:none;
}
