table {
    width: 40%;
    float:left;
    margin-left:40px;
}

td {

    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
}

th {
    padding: 5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

input{
    border:none;
}

.thing {
    padding: 230px;
    word-break:break-all;
}
